<p> Welcome, <%= current_user.username %>
<h2> Your Orders </h2>

<% @orders.each do |order| %>
  <div>
    <a href="/orders/<%= order.id %>">View Order </a> <br>
    <%= order.ship_firstname %> <%= order.ship_lastname %> <br>
    <%= order.ship_address1 %> <%= order.ship_address2 %> <br>
    <%= order.ship_city %> <%= order.ship_state %> <%= order.ship_zipcode %> <br>
    <%= order.phone %> 

  </div>
<% end %>

